ion-header {
  --ion-background-color: #ffffff91;
  ion-toolbar {
    * {
      color: #000000;
    }
  }

  .logo {
    font-weight: 900;
    font-size: 20px;
  }

  @media (min-width: 804px) {
    .middleNavs {
      justify-content: space-around;
      max-width: 70%;
    }
  }
}

img {
  width: 100%;
}

ion-col {
  cursor: pointer;
  ion-item {
    --padding-start: 0;
  }
  ion-label {
    white-space: normal;
    margin: 0;
    font-weight: 800;
    color: #000000;
    &:last-child {
      color: #828282;
    }
  }

  .description {
    font-size: 11px;
    font-weight: 500;
  }

  ion-buttons {
    width: 100%;
  }
}

.selectionDetails {
  display: none;
  position: absolute;
  z-index: 9999999999999999999;
  bottom: 0;
}

.imageHolder {
  overflow: hidden;
}

ion-col {
  &:hover {
    .imageHolder {
      overflow: hidden;

      img {
        transform: scale(1.5);
        object-fit: scale-down;
      }

      + .selectionDetails {
        display: block;
      }
    }
  }
}

.CTA {
  ion-button {
    &:last-child {
      width: 100%;
      --background: #000;
    }
  }
}

* {
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
$col: ion-col;

ion-col {
  @for $i from 1 to 100 {
    &:nth-child(#{$i}) {
      animation: revealUp cubic-bezier(0.77, 0, 0.175, 1) $i * 0.35s;
      animation-delay: $i * 0.005s;
    }
  }

  @media (max-width: 800px) {
    @for $i from 1 to 100 {
      &:nth-child(#{$i}) {
        animation: revealUp cubic-bezier(0.77, 0, 0.175, 1) $i * 1s;
      }
    }
  }
}

@keyframes revealUp {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@mixin transition {
}
