<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="logo">FF</ion-button>
    </ion-buttons>

    <ion-buttons class="middleNavs">
      <ion-button>SEARCH</ion-button>
      <ion-button>LOOKBOOK</ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>CART
        <ion-badge>0</ion-badge>
      </ion-button>
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="2" size-md="3" size="12" *ngFor="let product of productList">
        <img [src]="product.img">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>