ion-header {
 
  --ion-background-color: #ffffff91;
  ion-toolbar {
    * {
      color: #000000;
    }
  }

  .logo {
    font-weight: 900;
    font-size: 20px;
  }

  @media (min-width: 804px) {
    .middleNavs {
      justify-content: space-around;
      max-width: 70%;
    }
  }
}

img {
  width: 100%;
}
